extends nav

block main-content
	h1 into node and mongodb
	form(method="post", action="/add_data")
		label Enter your list
		br
		input(type="file", name="biz")
		input(type="submit", value="add name")
		



